@import '~bootstrap/scss/bootstrap.scss';

.ng {
  background-image: url('../../assets/img/angular.png');
}

.vue {
  background-image: url('../../assets/img/vue.png');
}

.react {
  background-image: url('../../assets/img/react.png');
}

.poll {
  background-size: cover;
  p {
    text-align: center;
    bottom: 0.5em;
  }
}
